

.depenses-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 600px;
    margin: 40px auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.depense-item {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.depense-item.positif .montant {
    color: #2ecc71;
}

.depense-item.negatif .montant {
    color: #e74c3c;
}

.btn-ajout {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: #003483;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-ajout:hover {
    background: #afc5e6;
}

.ajout-form {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
/* --- HEADER ULTRA CLEAN --- */

.page-header {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.header-content {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding: 15px 30px;

    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.header-content h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    background: linear-gradient(60deg,#1C6D08, #003483, #830048);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-content .icon {
    font-size: 34px;
}

