<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Budgeomètre{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=JetBrains+Mono:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=JetBrains+Mono:wght@400;600&family=DM+Serif+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block head_extra %}{% endblock %}

</head>
<body>
    <details>
        <summary></summary>
        <nav class="menu">
            <a href="{{ url_for('home') }}">Accueil</a>
            <a href="{{ url_for('budget_dashboard') }}">Budget dashboard</a>
            <a href="#link">Objectifs</a>
            <a href="{{ url_for('categories') }}">Catégories</a>
            <a href="{{ url_for('add_expense') }}">Ajouter une transactions</a>
        </nav>
    </details>

    <div class="container">
        <header>
            <h1>Budgeomètre</h1>
            {% block header_content %}{% endblock %}
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>